# Gradle
.gradle/
build/

# Local config
local.properties
google-services.json

# Android Studio
.idea/
*.iml

# Packages
*.apk
*.aab

# OS files
.DS_Store
Thumbs.db

# Native build and captures
.cxx/
captures/
.externalNativeBuild/
